/*
@font-face {
    font-family: "Vonnes";
    src: url("vonnes-boldextended.eot");
    src: url("vonnes-boldextended.eot#iefix") format("embedded-opentype"),
    url("vonnes-boldextended.woff") format("woff"),
    url("vonnes-boldextended.ttf") format("truetype"),
    url("vonnes-boldextended.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
*/